  <footer class="pt-3 mt-4 text-muted border-top">
	<div style="float:left;">&copy; 2022 Amin Emad</div>
	<div style="float:right;">
	  <i class="bi bi-pin-map-fill"></i> <a href="https://www.openstreetmap.org/way/112977926" target="_new" class="text-muted">Room 755, McConnell Engineering Building</a>    
	  <br/>
	  <i class="bi bi-telephone-fill"></i> <a href="tel:+15143981847" target="_new" class="text-muted">+1 (514) 398-1847</a>
	  <br/>
	  <i class="bi bi-envelope-at-fill"></i> <span class="unselectable" unselectable="yes" onselectstart="return false;"><span style="display: none;">аmі</span>аmіn.еmаd<i class="bi bi-at"></i><span style="display: none;">еmа</span><span class="firewalkwithme1"><div class="blacklodge">Black as midnight on a moonless night.</div></span><span style="display: none;">а</span></span>
	  <br/>
	  <i class="bi bi-twitter"></i> <a href="https://twitter.com/COMBINE_McGill" target="_new" class="text-muted">&commat;COMBINE_McGill</a>
	  <br/>
	  <i class="bi bi-github"></i> <a href="https://github.com/Emad-COMBINE-lab" target="_new" class="text-muted">&commat;Emad-COMBINE-lab</a>
		

	</div>
	
  </footer>